body{
              font-family: 'Poppins', sans-serif;
              margin: 0px;
}
h1{
              font-size:50px;
}
#mehedi{
              color: #ffa500; 
}
.flexible-container{
              display: flex;
              margin-bottom: 50px;
}
.half-width{
              width: 50%;
              padding: 5%;
             box-shadow: #ffa500;
}
.half-width img{
              width: 80%;
}
.link-button{
              text-decoration: none;
              background-color: #ffa500;
              padding: 10px 40px ;
              border-radius: 5px;
              background-image: linear-gradient(orange, rgb(255, 46, 9));
              font-weight: 700;
              color: antiquewhite;
}
.top-banner{
              background-image: url(images/top-banner.png);
              background-repeat: no-repeat;

}
.mehedi{
              font-weight: 900;
}
.dream-big{
              background-image: url(images/dream-bg.png);
              background-repeat: no-repeat;
              background-position: right;

}
.Experience{
            font-weight: bold;
            font-size: 40px;
            width: ;
           padding: 5%;
}
.Experience-area{
              background-image: url(images/exp-bg.png);
              background-repeat: no-repeat;
              background-position: left;
}
.Experience-item {
              width: 40%;
              margin-left: 5%;
              margin-right: 5%;
              padding-left: 20px;
              padding-right: 20px;
              padding-bottom:10px ;
              padding-top: 20px;
              box-shadow:10px 10px 40px gray;
              border-radius:10px ;
              border-left: 10px solid tomato;
              


}
#Baby-Web-Developer{
             
              border-left: 10px solid navy;
}
footer{
              margin-top: 200px;
              text-align: center;
              font-size: 20px;
              font-weight: bolder;
}